{
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 100,
        "arrowParens": "avoid",
        "semi": true,
        "trailingComma": "none",
        "endOfLine": "auto",
        "tabWidth": 2,
        "useTabs": false,
        "bracketSpacing": true
      }
    ],
    "no-console": "warn"
  }
}
