h1 {
  display: block;
  font-size: 30px;
  line-height: 3rem;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 23px;
  line-height: 3rem;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 20px; /* Đặt kích thước chữ cho tiêu đề h3 */
  line-height: 2.5rem; /* Đặt khoảng cách giữa các dòng cho tiêu đề h3 */
  font-weight: bold; /* Đặt độ đậm cho tiêu đề h3 */
}

h4 {
  display: block;
  font-size: 18px; /* Đặt kích thước chữ cho tiêu đề h4 */
  line-height: 2.5rem; /* Đặt khoảng cách giữa các dòng cho tiêu đề h4 */
  font-weight: bold; /* Đặt độ đậm cho tiêu đề h4 */
}

h5 {
  display: block;
  font-size: 16px; /* Đặt kích thước chữ cho tiêu đề h5 */
  line-height: 2.5rem; /* Đặt khoảng cách giữa các dòng cho tiêu đề h5 */
  font-weight: bold; /* Đặt độ đậm cho tiêu đề h5 */
}

h6 {
  display: block;
  font-size: 14px; /* Đặt kích thước chữ cho tiêu đề h6 */
  line-height: 2.5rem; /* Đặt khoảng cách giữa các dòng cho tiêu đề h6 */
  font-weight: bold; /* Đặt độ đậm cho tiêu đề h6 */
}

.ce-paragraph{
  font-size: 19px;
  line-height: 1.7em;
  font-weight: 400;
  text-align: left;
  border: unset;
  box-shadow: none;
  border-radius: unset;
}

.cdx-quote {
  padding: 25px 0;
}

.cdx-quote [contentEditable=true][data-placeholder]::before{
  width: auto;
  position: absolute !important;
}


.cdx-quote__text{
  border: unset;
  margin-bottom: 0 !important;
  box-shadow: none;
  border-radius: unset;
  padding: 5px 45px;
  font-size: 26px;
  line-height: 1.7em;
  font-weight: 700;
  text-align: center;
  height: auto;
  min-height: 50px !important;
  width: auto;
}

.cdx-quote__caption{
  width: auto;
  font-size: 16px;
  line-height: 1.7em;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
  border: unset;
  box-shadow: none;
  border-radius: unset;
}

.cdx-quote:before {
  content: "“";
  position: absolute !important;
  margin-left: 0;
  margin-top: 0.4em;
  font-size: 96px;
  line-height: 0;
}